Repository UdacityAndroidBasicsScholarship/wmn-safety, pull requests merged in 2018-05, with the labels that each got.

#32 Splash, SignIn, Signup , Forgot Password(Ui only)
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/in/paperwrk/safetycollabproject/HomeActivity.java
  app/src/main/java/in/paperwrk/safetycollabproject/SplashActivity.java
  app/src/main/java/in/paperwrk/safetycollabproject/accounts/ForgotPasswordActivity.java
  app/src/main/java/in/paperwrk/safetycollabproject/accounts/SigninActivity.java
  app/src/main/java/in/paperwrk/safetycollabproject/accounts/SignupActivity.java
  app/src/main/java/in/paperwrk/safetycollabproject/utilities/CheckConnection.java
  app/src/main/java/in/paperwrk/safetycollabproject/utilities/Helpers.java
  app/src/main/res/drawable/asl_password_visibility.xml
  app/src/main/res/drawable/avd_hide_password.xml
  app/src/main/res/drawable/avd_show_password.xml
  app/src/main/res/drawable/ic_password_masked.xml
  app/src/main/res/drawable/ic_password_visible.xml
  app/src/main/res/drawable/splash.png
  app/src/main/res/drawable/wmn_logo.png
  app/src/main/res/layout/activity_forgot_password.xml
  app/src/main/res/layout/activity_signin.xml
  app/src/main/res/layout/activity_signup.xml
  app/src/main/res/layout/activity_splash.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/password_visbility.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
Labels: SignIn SignUp, Splash

#60 Implement Data Storage on new user sign up.
  app/build.gradle
  app/proguard-rules.pro
  app/src/main/java/in/paperwrk/safetycollabproject/accounts/SigninActivity.java
  app/src/main/java/in/paperwrk/safetycollabproject/accounts/SignupActivity.java
  app/src/main/java/in/paperwrk/safetycollabproject/models/UserData.java
  app/src/main/res/layout/activity_signup.xml
Labels: Alpha, Firebase

#58 Added BNV and Material Navigation Drawer for HomeActivity
  app/build.gradle
  app/src/main/java/in/paperwrk/safetycollabproject/FakeCallFragment.java
  app/src/main/java/in/paperwrk/safetycollabproject/HomeActivity.java
  app/src/main/java/in/paperwrk/safetycollabproject/SOSFragment.java
  app/src/main/java/in/paperwrk/safetycollabproject/TrackUserFragment.java
  app/src/main/java/in/paperwrk/safetycollabproject/utilities/ApiKey.java
  app/src/main/res/drawable/ic_call_black_24dp.xml
  app/src/main/res/drawable/ic_contact_phone_black_24dp.xml
  app/src/main/res/drawable/ic_explore_black_24dp.xml
  app/src/main/res/drawable/ic_home_black_24dp.xml
  app/src/main/res/drawable/ic_location_on_white_24px.xml
  app/src/main/res/drawable/ic_person_black_24dp.xml
  app/src/main/res/drawable/ic_phonelink_ring_white_24px.xml
  app/src/main/res/drawable/ic_settings_black_24dp.xml
  app/src/main/res/layout/activity_home.xml
  app/src/main/res/layout/fragment_fake_call.xml
  app/src/main/res/layout/fragment_sos.xml
  app/src/main/res/layout/fragment_track_user.xml
  app/src/main/res/menu/navigation.xml
  app/src/main/res/values/strings.xml
Labels: HomeActivity

#66 Added onBoarding
  app/src/main/AndroidManifest.xml
  app/src/main/java/in/paperwrk/safetycollabproject/OnBoardingActivity.java
  app/src/main/java/in/paperwrk/safetycollabproject/SplashActivity.java
  app/src/main/java/in/paperwrk/safetycollabproject/utilities/OnBoardingUtils.java
  app/src/main/res/drawable/get_started_button_background.xml
  app/src/main/res/drawable/ic_navigate_next.xml
  app/src/main/res/drawable/indicator_selected.xml
  app/src/main/res/drawable/indicator_unselected.xml
  app/src/main/res/drawable/sos.png
  app/src/main/res/drawable/woman.xml
  app/src/main/res/layout/activity_on_boarding.xml
  app/src/main/res/layout/fragment_on_boarding.xml
  app/src/main/res/menu/menu_on_boarding.xml
  app/src/main/res/values-w820dp/dimens.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
  app/src/main/res/values/styles.xml
Labels: OnboardingActivity

#71 OnBoarding Screen Completed
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/in/paperwrk/safetycollabproject/HomeActivity.java
  app/src/main/java/in/paperwrk/safetycollabproject/PageIntroActivity.java
  app/src/main/java/in/paperwrk/safetycollabproject/SafetyApplication.java
  app/src/main/java/in/paperwrk/safetycollabproject/SplashActivity.java
  app/src/main/res/drawable/family.png
  app/src/main/res/drawable/girl1.png
  app/src/main/res/drawable/girl2.png
  app/src/main/res/drawable/help.png
  app/src/main/res/drawable/locs.png
  app/src/main/res/layout/page_intro_activity.xml
  app/src/main/res/layout/page_intro_activity1.xml
  app/src/main/res/layout/page_intro_activity2.xml
  app/src/main/res/layout/page_intro_activity3.xml
  app/src/main/res/layout/page_intro_activity4.xml
  app/src/main/res/layout/splash_screen.xml
  app/src/main/res/values/colors.xml
  app/src/main/res/values/dimens.xml
  app/src/main/res/values/strings.xml
Labels: Merged, OnboardingActivity

#73 Synchronize alpha and development branch code. Store user data on SIgnUp.
  app/build.gradle
  app/src/main/java/in/paperwrk/safetycollabproject/accounts/SigninActivity.java
  app/src/main/java/in/paperwrk/safetycollabproject/accounts/SignupActivity.java
  app/src/main/java/in/paperwrk/safetycollabproject/models/UserData.java
  app/src/main/res/drawable/happy_woman.xml
  app/src/main/res/drawable/round_button.xml
  app/src/main/res/layout/header.xml
  app/src/main/res/values/strings.xml
Labels: Firebase, SignIn SignUp

#75 Update Sign Up screen layout.
  app/build.gradle
  app/src/main/java/in/paperwrk/safetycollabproject/SplashActivity.java
  app/src/main/res/layout/activity_signin.xml
  app/src/main/res/layout/activity_signup.xml
  app/src/main/res/layout/login_header.xml
  app/src/main/res/values/strings.xml
Labels: SignIn SignUp

#79 Solved Typo Errors in Splash Screen
  app/src/main/java/in/paperwrk/safetycollabproject/SplashActivity.java
Labels: Splash
